[2017-12-08 02:04] vistier opened #4 "Invariant Violation: scrollToIndex out of range: 1 vs 0"
当banner图为一张时, 会出现异常报错
[code]

[2017-12-29 21:42] gusgard commented on #4
Hi, sorry for the late response.
Could you show me the code, and what version are you using?

[2018-01-16 00:23] gusgard commented on #4
I am going to close this, but please feel free to open a new issue with the additional information provided. Thanks!

[2018-01-16 00:23] #4 closed

[2018-02-05 17:21] SandeshVakale opened #5 "Horizontal flat list is not working properly."
When I try to click change photo by on click on pagination dot of my horizontal flat list, It does not work properly and keep some offset.

[code]

[2018-02-05 17:46] SandeshVakale commented on #5
After removing last two props, It started working properly.

Thanks.

[2018-02-05 17:46] #5 closed

[2018-02-06 23:33] gusgard commented on #5
Glad to hear that works.

[2018-02-22 10:37] taichiyi opened #6 "Unable to modify Pagination size and style"
The component is very good, thank you open source

[2018-02-22 10:43] taichiyi commented on #6
The component is very good, thank you open source

[2018-02-22 16:14] gusgard commented on #6
@taichiyi Thanks. I will change it to support a custom pagination component at the weekend

[2018-02-26 14:32] gusgard commented on #6
@taichiyi You can use now `PaginationComponent`, check the example https://snack.expo.io/@gusgard/react-native-swiper-flatlist or the code https://github.com/gusgard/react-native-swiper-flatlist/blob/master/src/components/Pagination/index.js

[2018-02-27 02:44] taichiyi commented on #6
nice

[2018-02-27 02:44] #6 closed

[2018-04-10 22:06] justinhorner opened #9 "Invalid child context `virtualizedCell.cellKey` of type `number` supplied to `CellRenderer`, expected `string`."
It looks like in a recent ReactNative update, the virtualizedCell.cellKey should be string instead of number.

https://github.com/wonday/react-native-pdf/issues/125
https://github.com/status-im/status-react/pull/3387

More of the error:

Warning: Failed child context type: Invalid child context `virtualizedCell.cellKey` of type `number` supplied to `CellRenderer`, expected `string`.
    in CellRen

[2018-04-10 22:09] justinhorner commented on #9
PR with proposed fix: https://github.com/gusgard/react-native-swiper-flatlist/pull/10

[2018-04-10 22:30] gusgard commented on #9
Thanks for the issue and the PR, it will be merged in a few minutes

[2018-04-10 22:50] #9 closed

[2018-05-08 21:16] JeffKGabriel opened #12 "scrollToIndex freezes app state"
`this.refs.swiper._scrollToIndex(1)` does work on (iOS) emulators but does not work on the devices (iPhone6 & Nexus5) themselves.

It seems to freeze the state of the whole app - allowing scrolling on the swiper, but react-navigation tab browser for example doesn't work anymore.

"react": "^16.3.2",
"react-native": "0.53.0",

Perhaps it could be my implementation as well

[2018-05-09 18:34] JeffKGabriel commented on #12
I believe it is something in my own code, prior to _scrollToIndex being called. Unrelated.
Will do some debugging and see if I can sort it.

[2018-05-09 18:42] #12 closed

[2018-06-11 16:22] Rodrigo77777 opened #13 "Varying height on different children"
It seems when you have children with differing heights the Swiper takes the height of the largest child, regardless of which index you are currently on. Any chance this can be changed so it takes the height of the current index instead?

[2018-06-12 13:43] gusgard commented on #13
Hi, could you give me an example and I will take a look this week? Is using the prop `vertical`?

[2018-06-20 03:14] h406621397 commented on #13
Unsupported top level event type "topScroll" dispatched
extractEvents
    E:\RN\OpenSource\react-native-swiper-flatlist\example\node_modules\react-native\Libraries\Renderer\ReactNativeFiber-dev.js:3519:22
extractEvents
    E:\RN\OpenSource\react-native-swiper-flatlist\example\node_modules\react-native\Libraries\Renderer\ReactNativeFiber-dev.js:3298:71
handleTopLevel
    E:\RN\OpenSource\react-nati

[2018-06-23 23:43] gusgard commented on #13
@h406621397 That errors seem related to the version of RN in the example folder, I updated to the latest, it should work. https://github.com/gusgard/react-native-swiper-flatlist/tree/master/example

[2018-07-14 21:20] #13 closed

[2018-08-24 12:09] daveteu opened #15 "Doesn't work in ScrollView"
I have a extremely long page and would like to use this swipper at the top of the page. Since it's a long page it requires ScrollView. If I use scrollview as the wrapper for the screen, images doesn't render, not even the background color (e.g. white). If i use View component instead of scrollview, images will render.

Is there any expert with work around to using this in ScrollView?

[2018-08-28 11:28] hanishcodebrew commented on #4
I am facing the same issue

[2018-08-29 23:47] chernandez7 opened #16 "Prop to change pagination size/style instead of replacing whole component"
Exposing the style prop for the pagination component would also make the swiper-flatlist more modular overall.

[2018-08-30 07:54] daveteu commented on #15
Found answer on stackoverflow

https://stackoverflow.com/questions/52036638/reactnative-flatlist-in-scrollview?noredirect=1#comment91025458_52036638

[2018-08-30 07:54] #15 closed

[2018-09-03 11:04] SukumarSmart opened #17 "SwiperFlatList autoplay is not working properly in Android."
Here is my code
`<SwiperFlatList
           autoplayDelay={2.5}
           index={1}
           autoplay
           autoplayLoop
           removeClippedSubviews

</SwiperFlatList>`
thanks in advance.

[2018-09-12 17:45] zrone commented on #17
Hello, I found the same iusse in Android and I modify the source code to support android. may be can help you. Insert code to number 116.
`if(Platform.OS === "android") {
      this._autoplay(index)
    }`
reason of the question: It's not auto run Android  for func `onMomentumScrollEnd` when exec `scrollToIndex`, you must be dispatch it yourself.

[2018-09-14 06:15] SukumarSmart commented on #17
Thanks @zrone for reply.

[2018-09-14 22:02] gusgard commented on #17
@SukumarSmart Sorry for the delay, I will take a look to this issue this weekend.

[2018-09-16 02:13] gusgard commented on #17
Fixed and released in [1.0.8](https://github.com/gusgard/react-native-swiper-flatlist/releases/tag/1.0.8)

Thanks to both of you for found and fix the issue

[2018-09-16 02:14] gusgard commented on #16
Released `paginationStyle` and `paginationStyleItem` in [1.0.8](https://github.com/gusgard/react-native-swiper-flatlist/releases/tag/1.0.8)

[2018-09-16 02:16] gusgard commented on #4
@hanishcodebrew Could you share a piece of code so I can reproduce it?

[2018-09-17 23:42] #16 closed

[2018-09-19 14:50] ahsan-storm opened #19 "How to add scroll in pagination"
Let's say I have 20+ children for the swiper flatlist. How should I achieve scroll in pagination?

[2018-09-21 00:42] gusgard commented on #19
Did you try adding `showsHorizontalScrollIndicator`? eg: `<SwiperFlatList showsHorizontalScrollIndicator>`

More: https://facebook.github.io/react-native/docs/scrollview#showshorizontalscrollindicator

[2018-09-26 01:40] raynor85 opened #21 "Broken on Android with React Native 0.57"
Snap stopped working on RN 0.57 on Android devices
![bug-android](https://user-images.githubusercontent.com/5817333/46052251-62370300-c135-11e8-81d3-457a842e5bf0.gif)

[2018-09-26 22:01] gusgard commented on #21
Thanks for reporting this bug. I will take a look in the weekend

[2018-09-26 22:01] #19 closed

[2018-09-26 23:58] gusgard commented on #21
Is a bug in the react-native library, it should be fixed in `0.57.2`

https://github.com/facebook/react-native/issues/21302

[2018-09-28 10:48] Rinkuk1993 opened #22 "How to get previous and next index on scroll"
onMomentumScrollEnd() provides only current index.

How to get previous and next index. It helps to complete some actions to previous index once swipe is initiated.

I have tried onMomentumScrollBegin(). The problem I face here is it gives the previous index wrongly if I scroll backward.
Example - ( Screen0 > Screen 1 > Screen 2)
If I scroll from Screen 0 -> 1 (I get index =0 )
If I scroll from Sc

[2018-10-07 19:35] gusgard commented on #21
Fixed in version `0.57.2`

[2018-10-07 19:35] #21 closed

[2018-10-25 19:37] ramonitor opened #24 "SwiperFlatList with RefreshControl"
Hi, can you confirm SwiperFlatList control not (yet) supports the refreshControl prop? Adding the following code does not give the ability to pull to refresh.

[code]

[2018-10-26 02:14] gusgard commented on #24
It should work, I will take a look this weekend

[2018-10-26 02:19] gusgard commented on #22
Did you try using `ref`? https://github.com/gusgard/react-native-swiper-flatlist/blob/master/src/components/SwiperFlatList/index.js#L171
Maybe something like `yourComponent.flatListRef.paginationIndex` is what you wants.

[2018-10-26 04:47] Rinkuk1993 commented on #22
This will give me again current Index if I am not wrong.
I have used component variable oldIndex to use and compare to get Last slide, the first slide and complete action on oldIndex on each swipe or slide jump.

[2018-11-05 11:07] blabz-rahulmandalkar opened #26 "How can I get index of changed item once scrolled(swipe)"
I have list objects in data. Once I swiped, I want to know current index in callback.

[2018-11-10 08:36] wonday commented on #4
the same problem, when only one child it will crash.
the following code will crash:
[code]
you should add a check at
[/SwiperFlatList/index.js#L121](https://github.com/gusgard/react-native-swiper-flatlist/blob/master/src/components/SwiperFlatList/index.js#L121), like this can fix it
[code]

[2018-11-13 00:28] marcosmartini commented on #26
Hi,
Try adding "ref='swiper'" as a SwiperFlatList prop, then in the button add "this.refs.swiper._scrollToIndex(1)" in the onPress prop. Replace the "1" with the desired index.

[2018-11-23 06:09] wonday commented on #4
@gusgard can you fix this?

[2018-12-14 08:02] Bvnkame opened #28 "The scroll speed on Android is too slow"
Thanks for this awesome swiper flatlist,
I have tried the scroll of this plugin on both iOs and Android,
but I got a issue with scroll on Android, it is scroll slowly and also scroll to other items
Ex: we have 4 slides, we are in slide 1, tap the screen then swipe left, it's scroll slowly and take us to slide 4
Im using Android 8.1
Device: Xiaomi redmi 5 plus

[2018-12-14 08:03] #28 closed

[2018-12-19 10:34] Jacky9425 opened #29 "How to loop the swiper"
For example, i have 3 items within the swiper, at reaching the third item, the swiper stops as default. I want to keep swiping back to the first item when it reaches the end (Right swipe will loop the swiper again rather than swiping left to return to previous items).

May i know is there any props supporting this feature?

[2018-12-19 16:32] ttibau commented on #28
+1

[2019-01-14 10:24] HighSoftWare96 opened #31 "Feature request: insert previous and next arrows"
A good feature to add is the previous and next arrows like this:

![image](https://user-images.githubusercontent.com/22793967/51107462-295b9080-17ef-11e9-8be7-815f89cdc007.png)

[2019-01-16 00:08] nateblog opened #32 "renderItem is rendering many times and bumping up"
The renderItem function is rendering many times if you add SwiperFlatList inside a modal.

Replicate:

1. Create a modal
2. Add SwiperFlatList that uses renderItem function inside modal
3. Close and open the modal many times
4. Log the data being returned inside renderItem function

This will show you the issue, something is bumping up. When you open and close the modal 10 times, the renderItem fu

[2019-02-13 12:00] borgogelli commented on #31
+1

[2019-03-11 12:36] greenais opened #34 "Doc question: how to use getCurrentIndex?"
Hi,
I cannot find any notes on how to use getCurrentIndex function, any suggestions perhaps?

Tried:
[code]
in order to access getCurrentIndex function in class method like
[code]
but after adding ref string my app stops to render at all.

My goal is to monitor current index to conditionally render Next/Previous arrows (like one asked in feature request)

[2019-03-11 13:30] greenais commented on #34
UPD:
the issue with ref string was the need to keep ";" in the end of statement (which I removed considering it as unnecessary), like:
`ref={(component) => {this._swiper = component;}}`
Very surprised.

Anyway, my goal (index tracking) isn't reacheable with just getCurrentIndex as it should be fired automatically after swipe somehow. I ended with following (in case someone will bump here with simi

[2019-03-11 13:30] #34 closed

[2019-03-29 12:25] EzenwakaKaycee commented on #28
please, how can I control the auto scroll speed?

[2019-04-01 05:32] rustyonrampage opened #35 "Children Views, Percentage width not working."
I have to assign children elements in SwiperFlatlist width using Dimensions module. When I using percentages '100%', it doesn't works at all. Height with percentage works though.

[2019-04-10 09:11] AsimPoptani opened #36 "Pagination is not correct sometimes on devices"
Pagination is not correct sometimes on devices the content offset /layout measurement gives a number slightly off a whole number, the easy solution to this is to use Math.round instead of Math.floor

[2019-04-27 07:59] mahendr opened #38 "Getting memory leak warning"
Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.%s,
in SwiperFlatList (at EventScreen.js:94)

This happens when switching screen away from where the swiperFlatList is used. Happens randomly.

I load data={} with a M

[2019-05-16 10:18] mtumiati commented on #36
I got the same issue. I tried with your solution and it seems to work fine. I'm going to send a pull request with the fix. Thanks for your proposal.

[2019-05-17 19:31] gusgard commented on #36
Thanks for the fix, it will release it today.

[2019-05-17 21:08] gusgard commented on #36
Released version 1.0.10. Thank you

[2019-05-17 21:09] #36 closed

[2019-05-26 09:40] itsam opened #40 "One child only crashes"
If the number of children are two or more, everything works as expected.
If you define just on child though, then it causes the following error:

`Invariant violation: Tried to get frame from out of range index NaN`

[2019-05-29 02:32] jackyleehong commented on #22
any update on this? how to get the index on swipe?

[2019-05-29 02:32] jackyleehong commented on #29
any update on this on how to loop the swiper?

[2019-06-11 12:16] jigaroza287 commented on #17
Hi,
I am still facing the autoplay issue, it seems it's scrolling very fast on Android. Here is my code:
Note: "images" is an Array of URL strings

[code]

[2019-06-13 00:27] GloboM opened #41 "onchange feature"
Hi there,
is there any way to detect when the index changes

[2019-06-16 03:59] sheeshmohsin commented on #41
Any update on this? same question from me as well.

[2019-06-19 07:40] IntelliJAbhishek commented on #41
There is a way to detect

    <SwiperFlatList
            index={this.state.currentSlide}
            onViewableItemsChanged={this._handleSlideChange}

[2019-06-20 04:15] IntelliJAbhishek commented on #17
@jigaroza287 auto play is very fast even if autoplaydelay set to 10. This problem occurs  when we have images uri.

Any fix for that?

[2019-06-20 04:32] jigaroza287 commented on #17
@IntelliJAbhishek no, I didn't find any solution.
The problem does not occur for all the Android devices. I found it working on most of the Androids, a few, particularly I tested on a iBall Android Tablet with Android 6.0, Marshmallow, it has the same behaviour as you said, autoplay is too fast regardless of whatever delay you provide.

[2019-06-20 04:37] IntelliJAbhishek commented on #17
@jigaroza287 I'm also getting same behaviour in marshmallow.

[2019-06-20 04:46] IntelliJAbhishek opened #42 "Autoplay is very fast in android"
Autoplay in android is very fast on Android even if there is 5 second delay added. Here is my code:

    <SwiperFlatList
        autoplay
        autoplayLoop
        autoplayDelay={5}
        showPagination
        paginationActiveColor="black"
        paginationStyleItem={{ width: 10, height: 10, marginHorizontal: 5 }}>
        <View style={styles.child}>
            <Image source={{ uri: 'https

[2019-06-20 04:48] IntelliJAbhishek commented on #17
Create a issue here https://github.com/gusgard/react-native-swiper-flatlist/issues/42

[2019-06-27 06:17] sheeshmohsin opened #43 "react-native-camera not working in vertical swiper"
Here is the code:-

[code]

On load, the camera is working fine, able to catch stream from the camera, however, once I swipe somewhere either up or down, after that on coming back to the camera screen, the screen goes black i.e. camera not running

This is working fine with horizontal scroll. Let me know If I'm doing something wrong.

[2019-07-01 08:13] ammoradi opened #44 "feature request: set swipe treshold"
there is a needed property like `swipeTreshold=[NUM]` to control the swipe gesture range.
at the moment, I am using horizontal swiper and in `Samsung Galaxy S8` with `Android 9.0` and a few swipes in diameter or with any little angles from the vertical line, it swipes to next item but it should scroll to down.

[2019-07-07 09:38] sheeshmohsin commented on #43
Any help on this?

[2019-07-12 07:48] gusgard commented on #40
Thanks, fix is included in the next release (`2.0.0`) to be released this week.

[2019-07-12 07:48] #40 closed

[2019-07-17 12:01] IntelliJAbhishek commented on #43
Just unmount the camera view like this

{this.state.cameraFocused ? <Camera /> : <View />}

[2019-07-17 12:25] sheeshmohsin commented on #43
@IntelliJAbhishek  I tried this, but it didn't worked well, as I was using this function for checking if the screen is on camera `onViewableItemsChanged` , but this function fires like 4 times in a row, even if I change from index 1 to index 2.

[2019-07-17 12:51] IntelliJAbhishek commented on #43
@sheeshmohsin  use like this

    handleViewableItemsChanged=(e) => {
         this.setState({
             cameraFocused: e.viewableItems[0].index == 1,
        });

Now use like this not efficient but works.
    <View style={styles.child}>
                {this.state.cameraFocused ? <Camera /> : <View />}
    </View>

[2019-07-17 22:44] gusgard commented on #24
You can add the ability to pull to refresh if you wrap each component of the children/renderItem into a ScrollView

[2019-07-17 22:44] #24 closed

[2019-07-26 23:45] gusgard commented on #41
Yes, you can use `onChangeIndex`, check the readme https://github.com/gusgard/react-native-swiper-flatlist#functions and a working example in https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithChildren.js#L28

[2019-07-26 23:45] #41 closed

[2019-07-26 23:47] gusgard commented on #42
Could you try it in version 2? It should work much better now

[2019-07-26 23:48] gusgard commented on #22
Yes, you can use `onChangeIndex` in version 2, check the readme https://github.com/gusgard/react-native-swiper-flatlist#functions and a working example in https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithChildren.js#L28

[2019-07-26 23:48] #22 closed

[2019-07-26 23:49] gusgard commented on #32
Could you try it again with version 2? And add a working example?

[2019-07-26 23:54] gusgard commented on #31
You can re-define `PaginationComponent` to add the arrows there.
Check https://github.com/gusgard/react-native-swiper-flatlist#props and https://github.com/gusgard/react-native-swiper-flatlist/blob/master/src/components/Pagination/index.js

[2019-07-26 23:54] #31 closed

[2019-07-26 23:55] gusgard commented on #35
Could you add a working example in expo with version 2?

[2019-07-26 23:58] gusgard commented on #38
Can you reproduce this issue with version 2? Also, could you add a working example in expo? so I can reproduce it

[2019-07-26 23:59] gusgard commented on #29
We are not supporting this feature yet

[2019-07-27 00:06] gusgard commented on #43
Could you try version 2 and using `renderItem` instead of `children`?
https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithRenderItems.js#L23

[2019-07-27 02:36] gusgard commented on #4
FYI @wonday this issue was fixed in version 2

[2019-07-27 03:21] gusgard commented on #34
In version 2, you can call getCurrentIndex https://github.com/gusgard/react-native-swiper-flatlist#functions

[2019-07-27 03:22] IntelliJAbhishek commented on #42
@gusgard i will try on manday and inform.

[2019-07-27 13:45] gusgard commented on #17
In what version of Android is this reproducible? Can I reproduce it in an emulator or needs to be a real device? Did you try using `FastImage ` https://github.com/DylanVann/react-native-fast-image instead of `Image`

[2019-07-27 13:48] IntelliJAbhishek commented on #17
@gusgard i think this is only happen when autoplay loop is set and we are using remote debugging.

[2019-07-29 05:10] IntelliJAbhishek commented on #17
@gusgard  fixed im latest version

[2019-07-29 05:11] IntelliJAbhishek commented on #42
Fixed in 2.0.1

[2019-07-29 08:38] IntelliJAbhishek commented on #42
Sorry my mistake its not fixed. It happens on some devices only. It can be reproduce in Galaxy J5

[2019-07-29 12:49] gusgard commented on #42
@IntelliJAbhishek Any particular version of Android?

[2019-07-31 15:45] jebzaki opened #51 "Wrong index warning"
React Native version:
[code]

## Steps To Reproduce

1. Swiping between Flatlist children quickly

Describe what you expected to happen:
The `onChangeIndex` function to be called with the correct `index` and `prevIndex`

Snack, code example, screenshot, or link to a repository:

[code]

[code]

[2019-07-31 18:15] gusgard commented on #51
If you are having `Wrong index, please create an issue in github`, please update to the latest version `2.0.2`

[2019-07-31 18:20] jebzaki commented on #51
Thanks updated to the latest.

[2019-07-31 18:20] #51 closed

[2019-08-01 03:52] gusgard commented on #44
I will need to dig into the docs but I think FlatList has a property for that behavior. I will let you know

[2019-08-01 03:59] IntelliJAbhishek commented on #42
@gusgard  Tried Fast image library too. Same effect it happening in Galaxy J5 running on Lollipop 5.1
Also its happening only during remote debugger is on.

[2019-08-01 04:10] gusgard commented on #42
Thanks, @IntelliJAbhishek for the update, I'm glad it is only happening with the debugger and not in production

[2019-08-01 04:27] gusgard commented on #44
I believe you need to use these properties but are only implemented for iOS
https://facebook.github.io/react-native/docs/scrollview#automaticallyadjustcontentinsets
https://facebook.github.io/react-native/docs/scrollview#directionallockenabled

[2019-08-02 05:33] IntelliJAbhishek commented on #42
Yeah @gusgard but its annoying during development hehe

[2019-08-02 12:15] kirhim opened #52 "After upgrading to RN 0.60 get error undefined is not an object(evaluating'_data.length')"
After upgrade to RN 0.60 get this error

`undefined is not an object(evaluating'_data.length')`

How can I fix this?

[2019-08-02 13:18] gusgard commented on #52
@kirhim What version are you using of this library? Could you add the code that is failing? It seems you are not sending an array to the SwiperFlatList component. Check these two examples:
https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithChildren.js and https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithRenderItems.js

[2019-08-03 01:41] kirhim commented on #52
@gusgard thanks for the comment. I am using version`"react-native-swiper-flatlist": "^2.0.2"`.
The error code is :  `<SwiperFlatList data={this.state.pictures}/> ` `In this.state.pictures` I am sending image URL.

[2019-08-05 00:54] kirhim commented on #52
@gusgard Any idea why this is happening in version 2.0?

[2019-08-05 09:08] saggiyogesh opened #53 "Typescript support"
Hi,
Any plans to add typescript definitions for the library.

[2019-08-05 13:33] gusgard commented on #52
Yes, I believe you are not using ` renderItem={({ item }) => <Image style={styles.image} source={item.image} />}` or the `children` prop.

[2019-08-06 13:49] gusgard commented on #53
Yes, it is in the roadmap for this month.

[2019-08-06 13:50] #32 closed

[2019-08-06 13:51] #38 closed

[2019-08-06 13:51] #35 closed

[2019-08-06 13:55] gusgard commented on #17
Can someone else confirm that it is only happen when debugging is enabled? So I can close this issue.

[2019-08-06 17:45] saggiyogesh commented on #53
cool thank 👍

[2019-08-27 20:05] ziaadini opened #55 "onChangeIndex"
onChangeText always same value for index and prevIndex and this value not change when user swipe

it's my code below
[code]

[2019-08-29 23:12] afeichuanqi opened #56 "I ruled out all the problems and suspected that this component has performance issues."
When I was silent, I found that js and fps dropped once every time.

[2019-08-30 03:04] afeichuanqi commented on #56
VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc.

[2019-08-30 12:27] gusgard commented on #56
It seems a problem with the items you are rendering in `renderItem` or `children` prop. Did you try using PureComponent or pure function components?

[2019-08-30 12:54] afeichuanqi commented on #56
My renderitem is not likely to be refreshed again.
I take great care of performance issues so I can rule out my problem with renderitem.

[2019-08-30 13:07] afeichuanqi commented on #56
I have found a suspected bug and it is very serious.
That is, autoplayTimer = setTimeout will be continuously reused.
That is, create setTimeout without limit, you can console.log in the carousel loop.

[2019-08-30 13:08] gusgard commented on #56
In that case, could you add an example (maybe in https://snack.expo.io/) so I can take a look? What props are you using?

[2019-08-30 13:10] afeichuanqi commented on #56
React.useEffect(() => {
      const isLastIndexEnd = autoplayInvertDirection
        ? paginationIndex === FIRST_INDEX
        : paginationIndex === _data.length - 1;
      const shouldContinuoWithAutoplay = autoplay && !isLastIndexEnd;
      console.log('React.useEffect');
      let autoplayTimer;
      if (shouldContinuoWithAutoplay || autoplayLoop) {
        console.log('autoplayLoop');

[2019-08-30 13:15] afeichuanqi commented on #56
I don't know how you write this. In react-native, I don't know if this is a bug.

[2019-08-30 13:22] gusgard commented on #56
Yes, I need some example so I can reproduce it. At least could you tell me the props you are using that are causing that warning? Could also be just a problem in the React Native framework. I'm not sure. Did you try using the `renderAll` prop (it render all the items before display it)?

[2019-08-30 13:23] #52 closed

[2019-08-30 13:23] #42 closed

[2019-08-30 13:24] #44 closed

[2019-08-30 13:24] #43 closed

[2019-08-30 13:29] afeichuanqi commented on #56
I have six items when I remove autolook and let him stop looping.
Perform a manual slide.
This warning will appear when sliding to the fourth item, let alone under autolook
And the rendering situation caused this problem to be unreplicable. It is possible to test the android performance is lower.
But there is no doubt that this component is absolutely problematic.

[2019-08-30 13:43] gusgard commented on #56
Please add a working example, so I can take a look, otherwise, it seems a problem with the items inside renderItem/children.

[2019-08-31 15:00] afeichuanqi commented on #56
I will give you an example when I have time. I have already found another flatlist to make a carousel.
There is no problem. The performance feel page is normal.
Because you may be the latest version of the react syntax.

[2019-09-03 20:23] brerdem commented on #29
I'm looking for this one too. This feature would be totally cool :)

[2019-09-19 14:44] #56 closed

[2019-10-04 08:23] borgogelli opened #57 "Question: how to change the dots size on the pagination bar"
The pagination dots are too big on some device.
Is there anyone who can provide an example of how to use the paginationStyle and the paginationStyleItem attributes to resize the dots ?
Thank you in advance.

[2019-10-09 08:19] SrikaraBhat commented on #57
@borgogelli Got any solution?

[2019-10-10 19:55] ebellumat opened #58 "[Question/Improvement] How to disable swipe gesture?"
I will use this component to scroll a view programatically, but i want to prevent the user going to the next step with the swipe gesture, exists any way to disable?

If not, i can open a PR with this improvement?

Thanks.

[2019-10-10 20:32] ebellumat commented on #58
I did not find a props for this even reading the code, so i opened a PR with this. I hope it helps.

[2019-10-11 17:05] gusgard commented on #58
PR released in version 2.0.3

[2019-10-11 17:05] #58 closed

[2019-10-14 16:59] whitetown commented on #57
paginationStyleItem={{ width:10, height:10, borderRadius:5 }}

[2019-10-14 18:19] gusgard commented on #57
You could always re-define a new Pagination component and use it with the prop `PaginationComponent`.

Example https://github.com/gusgard/react-native-swiper-flatlist/blob/master/example/src/SwiperWithChildren.js#L34

[2019-10-15 13:22] #17 closed

[2019-10-15 13:22] #57 closed

[2019-10-16 08:53] marhold commented on #55
+1
The onChangeIndex is called on each swipe, but the `prevIndex` and `index` values are only changed when we reach the first or the last slide.

[2019-10-20 14:12] ursNj commented on #55
im facing this issue.

[2019-10-21 14:58] gusgard commented on #55
@ursNj I will take a look this week. Is this an issue on Android or iOS or both? What version of React-native are you using?

The issue you are having is that `index and prevIndex` are always the `1`?
[code]
Could you test it with the option `autoplay`? and without `ref`?

[2019-10-21 15:09] ursNj commented on #55
Hello @gusgard ,

i have faced this issue in android, not sure about ios, the issue is index is not changing as page swipe.

its keep giving 0, 0 , and after some time it will change to some other index like 17, 17, after some swipes it will move to some other indexes.

this is the example im using.

<SwiperFlatList
          ref={ref => this.ref = ref}
          data={this.state.data}
          i

[2019-10-21 16:18] ursNj opened #60 "Changing orientation is not supporting."
if i load some image swiper in vertical mode and i rotate my screen its not auto adjusting for landscape mode. its still taking portrait height and width.

[2019-10-29 13:58] IbrahimSheikh24 commented on #57
Hi gusgard,
showPagination prop not showing any dot on swiper. Please help me on this.

[2019-10-29 15:32] gusgard commented on #57
@IbrahimSheikh24 did you use the same code from the example (check https://snack.expo.io/@gusgard/react-native-swiper-flatlist) ? or could you share your code in a snack example?

[2019-10-30 10:02] IbrahimSheikh24 commented on #57
@gusgard
<SwiperFlatList
                                autoplay
                                autoplayDelay={5}
                                index={3}
                                autoplayLoop
                                autoplayInvertDirection
                                showPagination>
                                <View style={[styles.child, { backgroundColor: 'thistle' }]}>

[2019-11-14 19:15] hossamnasser938 opened #62 "Getting Invariant Violations: scrollToIndex out of range: requested index NaN but maximum is 2"
I'm getting the error at the title only on android.

React Native version: 0.59.8
react-native-swiper-flatlist version: ^2.0.3

## Steps To Reproduce
Here is my wrapper component for FlatlistSwipper:
[code]

and here is how I use my wrapper component:
[code]

I render 2 instances of my wrapper component. I do not know whether this is a source of a problem or not.

[2019-11-14 19:24] hossamnasser938 commented on #62
I figured out that `images` prop is passed as an empty array for less than a second which causes this error.

[2019-11-14 19:24] #62 closed

[2019-12-03 12:43] itxuye commented on #55
+1 The same issue . onChangeIndex always same value for index and prevIndex and this value not change when user swipe.

[2019-12-11 11:50] bndby commented on #53
What about this?

[2019-12-14 22:14] mqtik commented on #55
+1
happens to me too.

[2020-01-10 11:20] expouic commented on #60
same issue!

[2020-01-27 23:26] skizzo commented on #55
+1

[2020-02-11 09:17] thedivac commented on #55
I ran into the same issue and submitted a pull request that fixed the issue for me: #66

[2020-02-14 06:44] pyeonjaesik opened #67 "Android) video disappear when it is out of screen."
Video disappear when it is out of screen.
I want video not to disappear even though it is invisible

[2020-02-17 12:06] rajkissu commented on #55
Yep, this fixes the problem for me too - can't wait for this PR to be merged!

[2020-02-18 04:53] ursNj commented on #55
@gusgard do you plan to review the changes ???

[2020-02-18 13:56] gusgard commented on #55
Version `2.0.4` has the PR submitted by @thedivac

[2020-02-18 13:59] ursNj commented on #55
Thank you soo much @gusgard :)

[2020-03-02 14:40] Merrick17 opened #69 "Swiping only works with teh first index"
React Native version:

## Steps To Reproduce

`import React, { useState ,useEffect} from "react";
import { View, StyleSheet, Dimensions, Image } from "react-native";
import { useSelector } from "react-redux";
import { Text } from "galio-framework";
import { GlobalStyles } from "../styles/global";
import Icon from "react-native-vector-icons/FontAwesome";
import { NavBar, Card } from "galio-framewor

[2020-04-17 07:18] Taren91 opened #71 "Swipe sensitive"
i have some swiping items in page, is it possible to make a slider bite little less sensitive? or change the region of swiping?

[2020-05-18 09:30] butri71 commented on #53
Any new on this yet?

[2020-05-30 02:49] jellohouse opened #72 "Feature Request: priorotize loading current index"
Would it be possible to make the swiper priorotize first loading the item that is on current starting index provided in props, followed by loading adjacent ones?

I think this would greatly enhance user experience for most people.

My items in the swiper are pretty hefty components with many subparts so they take some time to load..

I'm not sure how easy this would be to do, but it would most def

[2020-06-01 22:08] OsamaHarby commented on #69
i have the same problem

[2020-06-12 20:22] jellohouse opened #73 "index prop doesn't go further than 10"
I have a react-native-swiper-flatlist with a lot of children,
If I set the prop index to anything larger than 10 it just stays at the first slide...
Same with scrollToIndex method

[2020-06-14 11:23] yaser-elbatal opened #74 "styles for paginationActive"
React Native version:

## Steps To Reproduce

1.
2.

Describe what you expected to happen:

Snack, code example, screenshot, or link to a repository:

[2020-07-07 13:41] quenquen147 opened #75 "Invariant Violation: scrollToIndex out of range: requested index Nan but maximum is 2"
Hello,

When I want to distribute my data from my firebase database to my React Native mobile application in the form of a carousel with SwiperFlatList, an error is displayed each time my class is updated, showing me as follows: "Invariant violation: scrolltoindex out of range: requested Nan but maximum is 2." By hiding the error the carousel works well but it can be very annoying and cause proble

[2020-07-21 03:07] jeromemiranda commented on #73
same issue, actually it's specific to 10. When you dynamically changed the index, it's not reflecting.

[2020-07-30 19:37] #72 closed

[2020-10-20 02:41] shakyarahul opened #80 "Support for web"
I really appreciate your work. Can you guys make this project support for web too

[2020-10-25 14:22] 3GOMESz commented on #53
Any news about this?

[2020-11-05 12:25] fokke-m opened #81 "How do functions work?"
Hello,
Thanks for this awesome project! However, I can't figure out how the functions work because there's no documentation on it.

Suppose I have this simple swiper component:

[code]
How do I use a function like scrollToIndex (or getCurrentIndex) on the button to work? If I missed some documentation please point me in the right direction. Thanks!

[2020-11-05 15:00] fokke-m commented on #81
I figured it out after studying some other examples found on the web. A little documentation wouldn't be a luxury though :-)

`import React, { useEffect, useState, useRef } from 'react';`

`  const listRef = useRef(null);`

[code]
[code]

[2020-12-01 13:34] #81 closed

[2020-12-01 13:34] #74 closed

[2020-12-01 13:43] gusgard commented on #81
Thanks for the feedback, I will add more examples in the README

[2020-12-01 15:21] gusgard commented on #53
Sorry, I have been quite busy but I'm planning to do it before the end of the year, with the version number `2.0.7`

[2020-12-01 16:09] gusgard commented on #80
Thanks, there are a few limitations with react-native-web and FlatList. Check: https://github.com/gusgard/react-native-swiper-flatlist#limitations

[2020-12-03 23:28] #55 closed

[2020-12-03 23:29] gusgard commented on #67
Closed because of lack of context

[2020-12-03 23:29] #67 closed

[2020-12-03 23:43] gusgard commented on #71
Yes, you can send the property `viewabilityconfig` to change those values
https://reactnative.dev/docs/flatlist#viewabilityconfig

[2020-12-03 23:48] gusgard commented on #75
Closed until we have an reproducible example on expo

[2020-12-03 23:48] #75 closed

[2020-12-03 23:50] gusgard commented on #69
Closed until we have a reproducible example on expo or in a repository.

[2020-12-03 23:50] #69 closed

[2020-12-04 16:06] gusgard commented on #73
I created an example and I can't reproduce it.
https://snack.expo.io/@gusgard/react-native-swiper-flatlist-10-items

[2020-12-04 16:18] #73 closed

[2020-12-04 18:22] mrstluo opened #83 "SwiperFlatList index>0,don't touch to next page"
Hello! I found a bug

this code is work good.

[code]

but this code ,if index=0,work good,if index>0, don't touch to next page

[code]
[code]

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i5-8300H CPU @ 2.30GHz
    Memory: 4.67 GB / 15.88 GB
  Binaries:
    Node: 12.16.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.13

[2020-12-05 08:00] mrstluo commented on #83
Some time,function scrollToIndex is not work.  (page=50  ,want jump to 20 num)
but renderAll={true},scrollToIndex  is work good.May cause performance down.

[code]

[2020-12-05 12:02] unmec commented on #73
Hello @gusgard

First thanks for the component, I can however reproduce this with a quick simple demo:
[code]

There are actually two behavior not expected when data length is above 10:
- One is that when SwiperList shows, sometimes it refreshes to the wrong data, e.g. from 23 to 3, which is apparently due to a string subtraction.
- The other is that when on drag starts, the index for SwiperList g

[2020-12-07 13:03] #71 closed

[2020-12-11 22:11] gusgard commented on #83
You should add `renderAll` to `SwiperFlatList` component by default it is optimized to not render all the items.

Working example:
[code]

[2020-12-11 22:18] #83 closed

[2020-12-23 12:06] MihailoCherryz opened #88 "Proposal: Add an extra option to modify style of the active pagination item"
## What problem are we trying to solve?
Upon integrating `react-native-swiper-flatlist` into an existing React Native project we needed a way to differentiate between an active option (dot) and inactive ones and apply different styling to each of them.
## Why should we solve it?
While we appreciate that other apps might not need or even require this particular option, its addition would allow for

[2020-12-26 15:57] gusgard commented on #88
Added the properties `paginationStyleItemActive` and `paginationStyleItemInactive` in version `2.0.7`

[2020-12-26 15:57] #88 closed

[2020-12-27 22:26] gusgard commented on #53
Released with version `3.0.0`

https://github.com/gusgard/react-native-swiper-flatlist/pull/90

[2020-12-27 22:26] #53 closed

[2020-12-28 03:28] jasperSpeicher opened #92 "Contrary to documentation, onPaginationSelectedIndex() does not have any parameters"
https://github.com/gusgard/react-native-swiper-flatlist/blob/c83ee31c568ec204be5ff8cfe33082984fe3773b/src/components/Pagination/Pagination.tsx#L33

[2020-12-28 03:45] jasperSpeicher opened #93 "Cannot disable pagination taps"
Unlike swiping interactions, pagination taps cannot be prevented from changing the index.

[2020-12-28 10:56] gusgard commented on #93
Hey 👋, I think you are looking for the property `showPagination` to disable the pagination.

[2020-12-28 11:02] gusgard commented on #92
Hey 👋, I check and the method `onPaginationSelectedIndex` seem to have the correct values, if not could you add the wrong example of the documentation ?

Thanks.

[2020-12-28 15:10] Ppang0405 opened #94 "I can not run example code folder."
**Log**
`➜  example git:(master) yarn
yarn install v1.22.10
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...
warning "@react-native-community/eslint-config > eslint-plugin-react@7.12.4" has incorrect peer dependency "eslint@^3.0.0 || ^4.0.0 || ^5.0.0".
warning "@react-native-community/eslint-config > eslint-plugin-react-native@3.6.0" has incorrect peer

[2020-12-28 17:03] gusgard commented on #94
Which version of nodejs and Xcode are you using ?

 I’m guessing the issue is with the detox dependency. Could you check these links ? Or remove `detox` from the `package.json`?

https://github.com/wix/Detox#environment
https://github.com/wix/Detox/blob/master/docs/Introduction.GettingStarted.md#step-1-environment-setup

[2020-12-29 06:04] Ppang0405 commented on #94
Close this issue. I remove detox as you suggest and it works.

[2020-12-29 06:04] #94 closed

[2020-12-29 15:11] abuzer opened #96 "Show some part of next and previous slide"
How can we show the some part of next slide and previous slide? Can this be achieved with this package?

[2020-12-29 15:15] gusgard commented on #96
Yes, it can be done. Example https://snack.expo.io/@gusgard/react-native-swiper-flatlist-show-next-screen

[2020-12-29 15:46] abuzer commented on #96
Thanks. I would need another favour. If you can guide me how can we something like this.
![Uploading Screenshot 2020-12-29 at 8.44.39 PM.png…]()

[2020-12-30 11:34] #93 closed

[2020-12-30 11:35] #92 closed

[2020-12-30 22:54] jasperSpeicher commented on #93
@gusgard I want to see the pagination dots, but I do not want the user to be able to tap them to change the index.

[2020-12-30 22:59] jasperSpeicher commented on #92
The readme says: "similar properties onChangeIndex"
https://github.com/gusgard/react-native-swiper-flatlist/blame/master/README.md#L116

Any reason not to include the index?

[2021-01-08 12:55] RicardoBrito1938 opened #99 "horizontal ScrollView inside swiper is not working"
Hello, congratulations for the tool it is really helpfull, but i am facing an issue with horizontal a Horizontal ScrollView inside flatlist

![image](https://user-images.githubusercontent.com/51454097/104017597-281f8d00-5197-11eb-95f7-b118be0da080.png)

React Native version:
0.63

## Steps To Reproduce
[code]
the last render (renderDashboar), is a horizontal scrollview, it is stoped working after

[2021-01-08 21:00] gusgard commented on #99
Hey 👋 , I think you should try the property `renderAll` to render everything.

BTW: this is a working example https://snack.expo.io/@gusgard/react-native-swiper-flatlist-using-scrollview using horizontal ScrollView.

[2021-01-09 13:36] RicardoBrito1938 commented on #99
Hello Gustavo, thank you very much for the reply, i believe i am closer, but it is not working yet, your example, the swiper is horizontal, which is correct, but scroll of the second view is still vertical, i tried to apply the horizontal on the second view, but it does not have priority over the swiper, please take a look on changes i did on your example

![image](https://user-images.githubuserco

[2021-01-09 14:06] gusgard commented on #99
Check this other example: https://snack.expo.io/@gusgard/react-native-swiper-flatlist-using-scrollview-example

[code]

BTW: I recommend you to not have horizontal list inside another horizontal list, at least for me it makes sense to have vertical list inside horizontals or the opposite

[2021-01-09 14:27] pl709 commented on #31
To enable a "go previous slide" function you could use this:
const goToPreviousIndex = () => {
  const currIndex = scrollRef.current.getCurrentIndex();
  if(currIndex-1>0){
    scrollRef.current.scrollToIndex({ index: currIndex-1 });
  }
};

after attaching a ref scrollRef to the SwiperFlatList : ref={scrollRef} using the useRef hook

Then you could attach the function to an absolutely positionned

[2021-01-09 14:32] RicardoBrito1938 commented on #99
@gusgard  you are the best, it really works, but Scroll items must have the same height, for a different, it adjusts to work on same height, in any case, you helped me a lot, i will follow you advice and reach out to team requesting a change, even for a experience user, that may be confusing, i will close the issue, thank you very much one more time

[2021-01-09 14:32] #99 closed

[2021-01-11 08:06] unmec opened #100 "onChangeIndex been constantly called"
Starting from version ```3.0.0```, I realize that ```onChangeIndex``` is been constantly called, while ```2.0.7``` works as expected:

[code]

Xcode will log the event non-stop.

React Native version:
0.63.4

Xcode version:
12.3

MacOS version:
10.15.7

[2021-01-11 21:22] gusgard commented on #100
Thanks for reaching out, I will take a look at it and let you know soon

[2021-01-12 00:29] gusgard commented on #96
That type of questions should be in `Discussions` section so someone can help you with the stylesheets

[2021-01-12 00:29] #96 closed

[2021-01-12 04:18] gusgard commented on #100
Released with 3.0.7

[2021-01-12 04:18] #100 closed

[2021-01-13 01:34] gusgard commented on #80
We will support react native web these days with version 3.0.9

[2021-01-13 11:27] unmec commented on #100
Thanks!

[2021-01-16 01:44] gusgard commented on #80
Added react native web support in 3.0.9

[2021-01-16 01:44] #80 closed

[2021-01-16 07:02] ponleukea opened #103 "Unable to resolve module `./react-native-web.css`"
error: Error: Unable to resolve module `./react-native-web.css` from `node_modules/react-native-swiper-flatlist/src/components/SwiperFlatList/SwiperFlatList.tsx` at Version 3.x

[2021-01-16 10:02] LuffyAnshul commented on #103
I have faced the same Issue please can someone help

[2021-01-16 11:06] gusgard commented on #103
Are you using react native web ?

[2021-01-16 16:21] LuffyAnshul commented on #103
I am working with `react-native-cli` and I am not using `react native web`

[2021-01-16 17:56] gusgard commented on #103
Thanks, I have an idea of how to fix it. For now I recommend you to use version 3.0.8

[2021-01-16 23:01] gusgard commented on #103
Fixed with 3.0.13

[2021-01-20 01:38] #103 closed

[2021-01-28 16:38] arealmaas opened #106 "Typescript typings for useref"
Great library 👏 A suggestion, it would be nice with typings for useRef. :)

[code]

React Native version: 0.63.4

[2021-01-29 02:47] gusgard commented on #106
Thanks, it should work well on version `3.0.14`

[2021-01-31 16:26] #106 closed

[2021-03-09 10:52] spo commented on #71
+1

[2021-03-11 16:07] cardyy opened #108 "Autoplay is off and Pagination is off when you swipe"
i notices when you swipe the image left or right , the autoplay functionality does not then go to the next index position . If you swipe from index 3 back to index 2 auto play should then show index 3 after some time, but it does not

[2021-03-11 16:35] #108 closed

[2021-03-15 09:13] QuyetAQ opened #109 "Can't auto play when index = 0"
Here's my code. Autoplay just running after first swipe.
Please check this issue.
Thank you.
`<SwiperFlatList
      autoplay
      autoplayDelay={3}
      autoplayLoop={false}
      index={0}
      showPagination={false}
      renderAll
      autoplayLoopKeepAnimation
      onChangeIndex={handleExtendData}
      data={listPhotos}
      renderItem={({ item }) => (
          <Image
            style

[2021-03-19 21:35] curtismenmuir opened #110 "onChangeIndex() doesn't always fire when using swipe feature"
## Description
- When user manually swipes item to side numerous times, `onChangeIndex` callback occasionally is not fired.
- I have stripped back the props I was passing to `<SwiperFlatList>` to the bare minimum (see code example below) and issue still seen.
- Issue only seen with manual swipe

## Info
- Issue seen on Android + iOS
- RN Version: `0.63.4` (also seen in `v0.62.2`)
- `react-native-s

[2021-03-19 22:48] curtismenmuir commented on #110
I have found a work-around by also implementing `onMomentumScrollEnd` callback. Leaving this issue open incase you want to track the `onChangeIndex` issue.

[2021-03-20 01:11] curtismenmuir commented on #110
Done a bit of digging into `onChangeIndex` issue and it looks like `_onChangeIndex()` in `SwiperFlatList.tsx` (line 77) receives the same value for `_index` and `_prevIndex` and this causes the `onChangeIndex` callback not to fire.

From a quick look, it seems like `_onViewableItemsChanged()` (line 181) is not setting the index on the swipe previous to the swipe which does not fire `onChangeIndex`

[2021-03-27 00:13] getterhiss commented on #29
Hi, any plans on adding the loop option in?

[2021-04-01 00:12] gusgard commented on #110
@curtismenmuir thanks for reporting the issue and the work-around, if you could take a deep look at it, it would be great 🙌

[2021-04-01 00:13] gusgard commented on #110
@curtismenmuir thanks for reporting the issue and the work-around, if you could take a deep look at it, it would be great 🙌

[2021-04-06 07:18] AlphaJuliettOmega commented on #29
@gusgard any reason the complexity reaches beyond
[code]
To set it back to the first item?
I can imagine it possibly causing issues when the data list changes, but for a static / set only once list, looping shouldn't be an issue

except that the first item needs to 'display' _after_ the last list item, which complicates it too
an initial implementation where it scrolls back quickly would be an imp

[2021-04-08 07:06] PaperMonster commented on #110
I also faced this issue. I noticed `paginationIndex` props of `PaginationComponent` always gives correct index. I found the value can be derived from parameters of `onViewableItemsChanged`. So here is my current workaround:
[code]

[2021-05-01 09:29] reactProjects7 opened #111 "App crashed in Release mode(Android)"
App is working fine in android debug mode, but when i run my app in release mode app is crashed . I have attached below release mode error.

![1619861129661](https://user-images.githubusercontent.com/80164724/116778123-be9cf480-aa8d-11eb-83bc-05dfe01bb969.jpg)

[2021-06-02 12:48] arcsoftanil commented on #110
Same issue persist for me also. I have noticed that onchange index trigger after some delay. Any luck ?

[2021-06-04 12:09] studiozocaro opened #121 "error: bundling failed: SyntaxError"
error: bundling failed: SyntaxError: /node_modules/react-native-swiper-flatlist/index.ts: Unexpected token (4:12)
   1 |  import { SwiperFlatList, Pagination, PaginationProps, SwiperFlatListProps } from './src/components';
  2 | export default SwiperFlatList;
  3 | export { SwiperFlatList, Pagination };

React Native version:

"react": "^16.13.1",
    "react-dom": "^16.13.1",
    "react-native": "

[2021-06-10 15:56] GianlucaP99 opened #122 "E/unknown:FabricViewStateManager: setState called without a StateWrapper"
When using the SwiperFlatList component I get the error: "E/unknown:FabricViewStateManager: setState called without a StateWrapper". The error is not blocking and I notice it from the android studio console.

--------------------------------------------------------------------------------------------------------------
react-native-cli: 2.0.1
React Native version: 0.64.2

System:
    OS: Windows 10

[2021-06-23 17:13] EshaghiEhsan commented on #109
I have the same issue and I don't know what to do!!!!

[2021-06-24 09:42] GuoYongming commented on #4
I just got this issue too, version 3.0.14.

[2021-06-24 10:01] GuoYongming opened #123 "Exception: scrollToIndex out of range: requested index 3 but maximum is 1."
React Native version:
"react-native": "0.63.3"

react-native-swiper-flatlist version:
"react-native-swiper-flatlist": "3.0.14"

## Steps To Reproduce

1. I just use this module as a slider with 5 items in my Browse Page, click one item and then go to a detail page.
2. In detail page, i clicked a favorite button and sent a message to refresh Browse Page.
3. The Browse page server data returned with

[2021-07-07 18:08] freudibili commented on #60
I have the same problem

I added the same workaround and it worked but I didnt tought of moving swiper to initial position. Thank you for the tips

[2021-07-10 16:50] HishamMubarak opened #124 "Unable to scrollToIndex to non rendered items in list"
`this.carouselRef.scrollToIndex({ animated: true, index: newIndex })`

I am using this line to scroll from 1st index to 35th index. It will not work. No action happens. But when I pass the prop renderAll={true}, then it works. So I am assuming that slide 35 was unmounted when renderAll was false, thus not being able to swipe to that route. renderAll={true} is not a very good solution for this, as

[2021-07-15 16:23] daimonkor opened #125 "Support RTL"
Please create RTL support.

[2021-07-16 18:18] gusgard commented on #125
@daimonkor  I think you could use `autoplayInvertDirection` and start with the last index of your array `index={lastIndex}`

[2021-07-19 10:03] HishamMubarak commented on #124
I was able to fix this using `getItemLayout` prop on the swiper. Add `getItemLayout={this.getItemLayout}` on the swiper and the each of my slide was full width, so used the following method to calculate the itemLayout. Now I am able to directly scrollToIndex from 0 or 1st index items to 90 or 100th index item in the swiper.

` getItemLayout = (data, index) => ({
        length: Dimensions.get("win

[2021-07-19 10:03] #124 closed

[2021-08-05 14:46] kishanbarmawala commented on #122
Did anyone get solution, I am also facing this issue

[2021-08-10 07:01] chahalrohit commented on #17
put this code or call inside componentDidMount or useEffect
 if ( imageArrayLength !== 0 && imageArrayLength !== 1 ) {
            scrollRef.current.scrollToIndex({
              index: 1,
              animated: true,
            });
          }

[2021-08-18 13:58] luisfuertes commented on #60
My solution changing key and with same index
[code]

[2021-08-23 20:21] sofiaringstrom commented on #109
Having this issue as well. @gusgard Tracked it down to the SwiperFlatList component. In the useEffect (row 140) that sets the timer for the autoplay the hook is not listening for changes in the data. Adding _data to the hook it works as expected.

![Screenshot 2021-08-23 at 22 19 18](https://user-images.githubusercontent.com/11421213/130513778-076d3dbb-a48a-4bce-966b-0e0f84566fcb.png)

[2021-09-02 12:58] Bharatji opened #127 "VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc."
I get the following error when I pass regular Json Response (passing only the text row out of 5 other rows with text lengths more than around 200 chars. I This case I need to kick start (like a scooter) swipe for the first time after which Swipe works.

error - VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React pe

[2021-09-02 14:06] sofiaringstrom commented on #109
@Bharatji If you don't wanna wait for this package to be updated you can use my fork https://github.com/sofiaringstrom/react-native-swiper-flatlist

[2021-09-03 12:06] Bharatji commented on #109
Thank you @sofiaringstrom . Let me try this. Appreciate your prompt reply/help.

[2021-09-03 13:15] Bharatji commented on #109
Thankyou @sofiaringstrom . Works like a charm

[2021-09-07 04:06] dytra opened #128 "How to access the function ?"
I want to access the function `scrollToIndex `

i tried to use ref and call the function in the TouchableOpacity, but it shows error like this
[code]

code

[code]

[2021-09-07 04:10] dytra commented on #123
should've call like this
[code]

[2021-09-07 04:11] dytra commented on #128
i called the function in a wrong way
this should be the correct function call
[code]

[2021-09-07 04:11] #128 closed

[2021-09-07 13:40] Gerlison commented on #122
I'm facing the same error and it's caused by ScrollView, on scroll action. Every time I scroll, this warning is thrown on logcat

[2021-09-14 11:20] gusgard commented on #127
Could you add an example in expo.io so I can reproduce it? We which version are you using of the library ? Because we aren't using classes and that message seems old. Thanks.

[2021-09-14 11:20] #125 closed

[2021-09-14 11:25] #111 closed

[2021-09-14 11:29] gusgard commented on #109
Thanks @sofiaringstrom for your fix, I will release it this week

[2021-09-24 22:51] gusgard commented on #109
Fixed in version 3.0.15 by @sofiaringstrom

[2021-09-24 22:51] #109 closed

[2021-09-24 22:51] #127 closed

[2021-09-24 22:56] gusgard commented on #121
Could you upgrade your babel version to `7.9.0` or above? It seems the error is because your current version doesn't support `export type` https://github.com/babel/babel/pull/11171

https://github.com/react-navigation/react-navigation/issues/7981#issuecomment-611419607

[2021-09-24 23:12] gusgard commented on #122
I think the error you are describing is the same as this one from the RN repository https://github.com/facebook/react-native/issues/32070. I think there isn't much I can do

[2021-09-26 20:30] allindeveloper commented on #111
I am also experiencing this issue

[2021-09-26 21:16] allindeveloper commented on #111
i was using react-native-svg to render svgs on each `<View/>` insider `<Swiper/>`
this solved my issue
https://github.com/react-native-svg/react-native-svg#problems-with-proguard

[2021-09-27 18:59] #123 closed

[2021-09-30 13:54] alfredarcifa commented on #29
Hi,

we'll be waiting for this update.
Thanks.

[2021-10-20 00:55] #121 closed

[2021-11-27 04:18] danferd33 commented on #29
Would love to have this feature too.

[2022-01-05 15:45] ithustle opened #130 "Block swipe direction"
Hello,

First of all, thank you for this great lib. Its very helpful.

I'd like to know if is it possible block swipe direction to left or right?

[2022-01-05 18:39] gusgard commented on #130
@ithustle i think you are looking for the property `disableGesture=true`

[2022-01-05 19:12] ithustle commented on #130
@gusgard  hum... Thanks to reply. This property will allow me to block all directions or just one of them?

[2022-01-13 14:21] reuvensnappy opened #131 "SwiperFlatlist renders another invisible component that streches outside the screen"
Sometimes i am able to swipe more than expected outside of the boundaries of my rendered components.
When inspecting the elements i can see that an additional element is being rendered with a large width ( this element does not come from the data provided to the swiper).
I was not able to found its origin.

Thank you for the support.

React Native version: 0.66.3
Swiper version: 3.0.16

Screenshot

[2022-02-10 10:17] midhungopipk commented on #57
how can we make the position of pagination component fixed at the bottom of screen. in my case pagination component comes along with keyboard when I tap in a text input box. its not staying at the bottom of the screen. i tried position:'absolute'. can any one help? please...

			<SwiperFlatList
				showPagination
				paginationActiveColor="#1061cc"
				paginationStyle={{position:'absolute'}}
				p

[2022-04-04 07:37] mahadevsempire commented on #83
added `renderAll` still not working as expected.
If `index > 0` and we start slide to the right it is jumping to the 0 index card.

[2022-04-19 06:36] xclidongbo opened #134 "can not swipe to the first one at the last one."
can not swipe to the first one at the last one.

[2022-04-20 12:20] #122 closed

[2022-04-20 12:46] gusgard commented on #134
We don't support that feature. Related https://github.com/gusgard/react-native-swiper-flatlist/issues/29

[2022-04-20 12:46] #134 closed

[2022-05-05 17:20] wilav-dev opened #135 "Listen for autoplay updates"
I use autoplay={isFocused} to prevent autoplaying when another tab is selected. But it's still swiping.

[2022-05-23 06:00] aoulaa commented on #127
have the same problem

here is my code:

            <SwiperFlatList
                nestedScrollEnabled={true}
                renderAll={true}
                autoplay
                autoplayLoop
                data={perks}
                renderItem={useMemo(() => ({ item }) => <Any item={item} />, [perks])}
            />

[2022-05-27 07:05] Benj846 commented on #131
same here

[2022-05-31 13:08] raghvendra007 opened #137 "Invariant Violation: Element type is invalid: expected a string( for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the file it's defined in"
when using SwiperFlat list getting this issue ,but when FlatList instead of Swiperlist this issue does not come this issue does not come
<SwiperFlatList
        vertical={true}
        data={data}
        snapToInterval={heighth}
        snapToAlignment={'start'}
        declarationRate={'fast'}
        renderItem={renderItem}
        keyExtracter={(item, index) => index}
        onChangeIndex={on

[2022-06-03 07:19] Priyadharshini-max commented on #110
I'm facing this issue , only when I swipe manually
![Screenshot_2022-06-03-12-43-05-61_4007cdf3d38763fe5bc19f163cbad3b9__01](https://user-images.githubusercontent.com/59358875/171806649-549c9a51-2570-4633-b35a-3ee129866117.jpg)
![Screenshot_2022-06-03-12-43-02-16_4007cdf3d38763fe5bc19f163cbad3b9__01](https://user-images.githubusercontent.com/59358875/171806756-ce298cd2-2387-4a10-aebe-37bc2b399719.

[2022-06-03 07:20] Priyadharshini-max commented on #110
It show half image, I need to show like this when i swipe manuall
![Screenshot_2022-06-03-12-46-57-04_4007cdf3d38763fe5bc19f163cbad3b9__01](https://user-images.githubusercontent.com/59358875/171807003-f6d06376-3a00-4cda-bf2b-b1aad057c545.jpg)
y

[2022-06-03 07:25] Priyadharshini-max opened #138 "Manual swipe issue"
I'm facing this issue , only when I swipe manually. It display only half image, like this
![Screenshot_2022-06-03-12-43-05-61_4007cdf3d38763fe5bc19f163cbad3b9__01](https://user-images.githubusercontent.com/59358875/171807576-966b268f-f3ea-486b-a03c-0f4d32044ae4.jpg)
![Screenshot_2022-06-03-12-43-02-16_4007cdf3d38763fe5bc19f163cbad3b9__01](https://user-images.githubusercontent.com/59358875/17180760

[2022-06-13 22:27] david-alza opened #139 "_index/_prevIndex trigger error TS7031 Binding elements implicitly have an 'any' type."
React Native version: 0.68.2 (within Expo)
## Steps To Reproduce
We hit this in our repo when upgrading from Expo 44 -> Expo 45 while also bumping `@types/react` up to `18.0.12` which includes this change: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/52873

This isn't a big deal, nor is it truly a bug, but I thought I'd document it here as a reference for an incoming pull request.

[c

[2022-06-28 06:47] Linyan-ma commented on #139
will this be fixed?

[2022-06-29 12:58] gusgard commented on #139
Thanks @david-alza for the fix, it was released in `3.0.17`

[2022-06-29 12:58] #139 closed

[2022-06-29 12:59] gusgard commented on #135
Thanks @wilav-dev  for the fix, it was released in `3.0.17`

[2022-06-29 12:59] #135 closed

[2022-06-29 13:00] gusgard commented on #139
@Linyan-ma ☝️

[2022-06-30 03:19] Slyther opened #143 "Listen to autoplay changes"
Similar to what was mentioned in #135 , I'm finding that I'm having to conditionally add or remove the autoplay props for play/pause functionality rather than just update the autoplay prop with a variable.

![image](https://user-images.githubusercontent.com/4093602/176585423-35e828ae-9451-4023-91f0-f81ce726847f.png)

Not completely module breaking as the functionality works as intended when doing

[2022-07-19 08:04] Prakunj opened #144 "GoToLastIndex not working"

[2022-07-20 17:38] iortega-dev commented on #110
I'm facing the same delay issue... :(

[2022-07-23 15:40] Marcos-Vinicius9 commented on #34
I have the same problem

[2022-07-23 15:41] Marcos-Vinicius9 commented on #34
I have the same problem

[2022-07-29 15:26] gusgard commented on #144
Hey @Prakunj, could you add an example or description ? What version of React native are you using ? Thanks

[2022-07-29 15:31] gusgard commented on #138
Hey @Priyadharshini-max , could you create an example in snack.expo.dev ? (https://snack.expo.dev/@gusgard/react-native-swiper-flatlist)

[2022-07-29 15:33] gusgard commented on #131
Hey, could you add an example in expo ? Eg https://snack.expo.dev/@gusgard/react-native-swiper-flatlist

[2022-07-31 17:02] #144 closed

[2022-07-31 17:02] #138 closed

[2022-07-31 17:02] #137 closed

[2022-08-01 18:32] tcf01 commented on #26
For those who are using `hook` instead of `class` in React. You can do sth like that to utilise the `scrollToIndex` function

`
//Inside your swiper compoent, make a ref for storing the swiper instance
const swiperRef = useRef<any>({});

//store the reference
<SwiperFlatList
	ref={(component) => { swiperRef.current._swiper = component; }}

//later on, you can call the function
swiperRef.current._s

[2022-08-03 17:36] digicommons opened #148 "Horizontal padding on grandparent View prevents full manual swipe"
When setting horizontal padding on a grandparent View, manual swipes don't swipe fully. With every swipe the displayed portion of the previous element increases.
When pressing the pagination dots, the elements swipe fully.

**React Native version:** 0.68.2

## Steps To Reproduce

1. Add horizontal padding to (grand-) parent element
2. Swipe elements manually

See example at: https://snack.expo.dev

[2022-08-22 13:33] arbabr96 commented on #148
[code]

 now you can use padding like this by modifying your image styling and add padding the parent view of render items

[2022-08-26 12:37] saadi-ninjasCode opened #149 "RTL Suppor is missing."
In RTL  mode, **Flatlist** `renderItem` is called continuously

I debug the issue and I found that  in **SwiperFlatList.tsx**
 `_onViewableItemsChanged` method is called continuously with incorrect indexing.

 If anyone found a solution. Please let me know.

[2022-09-11 22:47] zachnicoll commented on #110
+1 experiencing this issue!

^ This does not work for me.

[2022-09-12 15:00] #148 closed

[2022-09-12 22:53] digicommons commented on #148
Thank you, that works great!

[2022-09-20 12:12] ShobanaBohs100 commented on #110
+1 having the same issue when swipe manually.

@curtismenmuir can we refer you workaround anywhere? It will be really helpful.

[2022-09-20 12:26] ShobanaBohs100 commented on #110
figured out onMomentumScrollEnd solves the problem for now. Thanks @curtismenmuir

Instead this,
`
	onChangeIndex={({ index }) => {
		setListIndex(index);
	}}
`
we can use this prop to get the index
`
onMomentumScrollEnd={({ index }: any) => setListIndex(index)}
`

[2022-09-23 06:15] chloezxyy opened #150 "SwiperFlatList not swipeable in gorhom/bottom-sheet on Android"
To import { FlatList } from 'react-native-gesture-handler' instead of from 'react-native' library as the SwiperFlatList component will not be swipeable on android devices when using within the @gorhom/bottom-sheet library. It works fine on ios devices

React Native version: "react-native": "0.69.5"

## Steps To Reproduce

1.
2.

Describe what you expected to happen:
- SwiperFlatList component will

[2022-10-22 16:28] lsps9150414 opened #151 "disableGesture cannot be updated on the fly"
From the source code, it seems that `disableGesture` only accepts the initial value but cannot be updated after initialization.
(source code: https://github.com/gusgard/react-native-swiper-flatlist/blob/master/src/components/SwiperFlatList/SwiperFlatList.tsx#L76)

It would be nice if it accepts changes, otherwise, it would be better to name the prop something like `initDisableGesture`, similarly t